.grid{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}
h1{
    display: flex;
    justify-content: space-evenly;
    font-style: bold;
    border: solid;
}

.E1{
    border: solid;
}
.E2{
    border: solid;
}